# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# LOL match data feed module AWS config
./LOLMatchDataFeed/config.json
./LOLMatchDataFeed/node_modules
./LOLMatchDataFeed/test.js