<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <title>This is an Visualization</title>
        <style>
            body {
                margin: 0px;
                font-family: "Arial";
            }
            #title {
                background-color: black;
                color: white;
                padding: 10px;
            }
            h1{ 
                margin: 0;
            }
            h2 {
                text-align: center;
                padding: 10px;
            }
            circle {
                opacity: 0.7;
            }
            .domain {
                fill: none;
                stroke: #000;
            }
            #tooltip {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.8);
                padding: 5;
                border: solid 1px black;
                visibility: hidden;
                transition: all 0.5s;
                opacity: 0;
            }
            #timeSelect {
                margin: 15px;
            }
        </style>
    </head>
    <body>
        <div id = "title">
            <h1>Game Match</h1>
        </div>
        <div class="container">
            <h2>Match Details</h2>
            <table class="table">
              <thead class="thead-default">
                <tr>
                  <th>Blue Team</th>
                  {% if data.teams[0].winner %}
                  <th>Result: Win</th>
                  {% else %}
                  <th>Result: Lose</th>
                  {% endif %}
                  <th></th>
                  <th>Red Team</th>
                  {% if data.teams[1].winner %}
                  <th>Result: Win</th>
                  {% else %}
                  <th>Result: Lose</th>
                  {% endif %}
                  <th></th>
                </tr>
              </thead>
              <thread>
                <tr>
                    <th>Summoner Name</th>
                    <th>Champion</th>
                    <th>KDA</th>
                    <th>Summoner Name</th>
                    <th>Champion</th>
                    <th>KDA</th>
                </tr>
              </thread>
              <tbody>
                <tr>
                    <th>{{ data.participantIdentities[0].player.summonerName }}</th>
                    <th>{{ champion[data.participants[0].championId|string].name }}</th>
                    <th>{{ data.participants[0].stats.kills }}/{{ data.participants[0].stats.deaths }}/{{ data.participants[0].stats.assists }}</th>
                    <th>{{ data.participantIdentities[5].player.summonerName }}</th>
                    <th>{{ champion[data.participants[5].championId|string].name }}</th>
                    <th>{{ data.participants[5].stats.kills }}/{{ data.participants[5].stats.deaths }}/{{ data.participants[5].stats.assists }}</th>
                </tr>
                <tr>
                    <th>{{ data.participantIdentities[1].player.summonerName }}</th>
                    <th>{{ champion[data.participants[1].championId|string].name }}</th>
                    <th>{{ data.participants[1].stats.kills }}/{{ data.participants[1].stats.deaths }}/{{ data.participants[1].stats.assists }}</th>
                    <th>{{ data.participantIdentities[6].player.summonerName }}</th>
                    <th>{{ champion[data.participants[6].championId|string].name }}</th>
                    <th>{{ data.participants[6].stats.kills }}/{{ data.participants[6].stats.deaths }}/{{ data.participants[6].stats.assists }}</th>
                </tr>
                <tr>
                    <th>{{ data.participantIdentities[2].player.summonerName }}</th>
                    <th>{{ champion[data.participants[2].championId|string].name }}</th>
                    <th>{{ data.participants[2].stats.kills }}/{{ data.participants[2].stats.deaths }}/{{ data.participants[2].stats.assists }}</th>
                    <th>{{ data.participantIdentities[7].player.summonerName }}</th>
                    <th>{{ champion[data.participants[7].championId|string].name }}</th>
                    <th>{{ data.participants[7].stats.kills }}/{{ data.participants[7].stats.deaths }}/{{ data.participants[7].stats.assists }}</th>
                </tr>
                <tr>
                    <th>{{ data.participantIdentities[3].player.summonerName }}</th>
                    <th>{{ champion[data.participants[3].championId|string].name }}</th>
                    <th>{{ data.participants[3].stats.kills }}/{{ data.participants[3].stats.deaths }}/{{ data.participants[3].stats.assists }}</th>
                    <th>{{ data.participantIdentities[8].player.summonerName }}</th>
                    <th>{{ champion[data.participants[8].championId|string].name }}</th>
                    <th>{{ data.participants[8].stats.kills }}/{{ data.participants[8].stats.deaths }}/{{ data.participants[8].stats.assists }}</th>
                </tr>
                <tr>
                    <th>{{ data.participantIdentities[4].player.summonerName }}</th>
                    <th>{{ champion[data.participants[4].championId|string].name }}</th>
                    <th>{{ data.participants[4].stats.kills }}/{{ data.participants[4].stats.deaths }}/{{ data.participants[4].stats.assists }}</th>
                    <th>{{ data.participantIdentities[9].player.summonerName }}</th>
                    <th>{{ champion[data.participants[9].championId|string].name }}</th>
                    <th>{{ data.participants[9].stats.kills }}/{{ data.participants[9].stats.deaths }}/{{ data.participants[9].stats.assists }}</th>
                </tr>
              </tbody>
              
            </table>

            <h2>Game Timeline</h2>
            <div>
                <svg id = "viz">
                    <image xlink:href="http://pre02.deviantart.net/dbda/th/pre/f/2016/350/a/6/the_league_of_legends_summoners_rift_map_edit__by_of_nihility-dartn0q.png" height="100%" width="100% " x="150">
                </svg>
            </div>
            <div align="middle">
            <input type="range" min="0" max="{{ data.timeline.frames|length - 2}}" value="0" id="timeSelect" onchange="setTime(this.value)" style="width: 500" text-align="center">
            </div>
            <div id="tooltip">Tooltip</div>
        </div>
    </body>
    
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>
        var time = 0;
        var chartWidth = 800;
        var chartHeight = 420;
        var chartMargin = {top: 50, left: 50, right: 20, bottom: 20};
        var chartInnerHeight = chartHeight - chartMargin.top - chartMargin.bottom;
        var chartInnerWidth = chartWidth - chartMargin.left - chartMargin.right;
        var json = {{ data|tojson }};
        
        var data = [];
        var chart = d3.select("#viz");
        
        var dotGroup = chart.append("g")
                           .attr("transform", "translate(" + 25 + "," + 25 + ")");

        render(json.timeline.frames);

        function setTime(newTime) {
            time = newTime;
            render(json.timeline.frames);
        }
        
        function render(data) {
            var frame = data[time].participantFrames;
            var position = [];
            for (i = 1; i <= 10; i++) {
                var obj = new Object();
                obj.x = frame[i].position.x;
                obj.y = frame[i].position.y;
                obj.player = frame[i].participantId;
                position.push(obj);
            }
            renderChart(position);
        }
        
        function renderChart(data) {
            chart
                .attr("width", chartWidth)
                .attr("height", chartHeight)
            
            var xScale = d3.scale.linear()
                .range([0, 350])
                .domain([0, 16000]);
                //.domain(d3.extent(data, function(d) { return d.x}));
            
            var yScale = d3.scale.linear()
                .range([350, 0])
                .domain([0, 16000]);
                //.domain(d3.extent(data, function(d) { return d.y}));
            
            var cScale = d3.scale.category10();

            var selection = dotGroup.selectAll("circle")
                .data(data);

            selection.enter()
                .append("circle")
                    .on("mouseenter", function(d, i) {
                        d3.select("#tooltip").style({
                            visibility: "visible",
                            top: d3.event.clientY,
                            left: d3.event.clientX,
                            opacity: 1
                        }).text("Player:" + d.player);
                    })
                    .on("mouseleave", function(d, i) {
                        d3.select("#tooltip").style({
                            visibility: "hidden",
                            opacity: 0
                        })
                    });

            selection.exit().remove();
            
            selection.transition()
                .attr("r", function(d) { return 5})
                .attr("cx", function(d) { 
                    return xScale(d.x)+365;
                })
                .attr("cy", function(d) { return yScale(d.y)})
                .attr("fill", "white")   
        }
    </script>
</html>