<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- static css file -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js" integrity="sha256-thgNwq1kqppxWOZpF2V/KfgGpLeBWbLMg704XfwYUDQ=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var ctData = {{ data|tojson }};
        console.log(ctData);
    </script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-inverse">
        <a class="navbar-brand" href="#"><span style="font-size: 110%; color: white">LOLA</span> <span class="open-sans-font" style="font-size: 85%; color: grey">&nbsp;&nbsp;CS-GY 9223: Cloud Computing</span></a>
    </nav>

    <div class="container">
        <div class="row" id="intro-sentence">
            <div class="col-md-12">
                <center class="open-sans-font intro-main"><span id="sentence1"></span><span id="sentence2"></span></center>
            </div>
        </div>

        <div class="row" id="intro-sentence-assist">
            <div class="col-md-12">
                <center class="open-sans-font intro-assist"><span id="sentence3"></span><span id="sentence4"></span></center>
            </div>
        </div>

        <div class="row" id="lookup">
            <div class="col-md-12">
                <!-- <form> -->
                    <div class="form-group" align="center">
                        <input type="text" class="form-control" id="name-bar" placeholder="summoner name in NA server..."></input>
                        <a href="{{url_for('player_data', user_name='abc')}}" class="btn btn-nice" id="name-btn">Find my data<span class="glyphicon glyphicon-chevron-right"></span></input></a>
                    </div>
                <!-- </form> -->
            </div>
        </div>

        <div class="row" id="tab-list-container">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="gameTabList" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-expanded="true">Team Analysis</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#champion" role="button" aria-haspopup="true" aria-expanded="false">
                        Champion Analysis
                        </a>
                        <div class="dropdown-menu" style="width: 100%">
                            <a class="dropdown-item" id="leader-tab" href="#leader" role="tab" data-toggle="tab" aria-controls="leader">Leader</a>
                            <a class="dropdown-item" id="bottom-tab" href="#bottom" role="tab" data-toggle="tab" aria-controls="bottom">Bottom</a>
                        </div>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div role="tabpanel" class="tab-pane fade show active" id="team" aria-labelledby="team-tab">
                        <div class="row chart-area">
                            <div class="col-md-6">
                                <canvas id="team-left-chart-1"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="team-right-chart-1"></canvas>
                            </div>
                        </div>

                        <div class="row chart-area">
                            <div class="col-md-6">
                                <canvas id="team-left-chart-2"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="team-right-chart-2"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="leader" role="tabpanel" aria-labelledby="leader-tab">
                        <div class="row chart-area">
                            <div class="col-md-6">
                                <canvas id="leader-left-chart-1"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="leader-right-chart-1"></canvas>
                            </div>
                        </div>

                        <div class="row chart-area">
                            <div class="col-md-6">
                                <canvas id="leader-left-chart-2"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="leader-right-chart-2"></canvas>
                            </div>
                        </div>

                        <div class="row chart-area">
                            <div class="col-md-6">
                                <canvas id="leader-left-chart-3"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="leader-right-chart-3"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="bottom" role="tabpanel" aria-labelledby="bottom-tab">
                        <div class="row chart-area">
                            <div class="col-md-6">
                                <canvas id="bottom-left-chart-1"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="bottom-right-chart-1"></canvas>
                            </div>
                        </div>

                        <div class="row chart-area">
                            <div class="col-md-6">
                                <canvas id="bottom-left-chart-2"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="bottom-right-chart-2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/chart-config.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- Typed.js -->
    <script src="../static/typed.js"></script>
    <script src="../static/typed-animation.js"></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </body>
</html>