<html>
	<head>

		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- 		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<style>
			body {
				background-color: #666666;
			}
			.title {
				color: white;
			}
			.hero {
				display: inline-block;
				width: auto;
				white-space: normal;
			}
			.card-contain {
				border: solid;
				border-width: 1px;
				overflow-x: scroll;
				white-space: nowrap;
			}
			.card-columns {
			  @include media-breakpoint-only(lg) {
			    column-count: 4;
			  }
			  @include media-breakpoint-only(xl) {
			    column-count: 5;
			  }
			}
			p {
				margin-bottom: 0px;
			}
		</style>
	</head>
	<body>
		<div class="title">
			<p>Hi, </p><p class="player-id"></p>
		</div>
		<div class="container">
			<div class="container heros">
			<div class="title">Used Heros</div>
			<div class="container-fluid card-contain rounded">
		        <!-- 平均胜率，个人胜率，个人 K/D，平均 K/D, 个人评级，评分  -->
				<div class="card hero" style="width: 20rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-block">
						<h6 class="card-title">Hero Name</h4>
					</div>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div>
						<p>Average Win rate(all):</p>
						<p>Personal Win rate:</p>
						</div>
					</li>
					<li class="list-group-item">
						<div>
							<p>Average K/D:</p>
							<p>Personal K/D:</p>
						</div>
					</li>
					</ul>
					<div class="card-block">
						<a href="#" class="btn btn-primary">Hero Description</a>
					</div>
				</div>
				<div class="card hero" style="width: 20rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-block">
						<h6 class="card-title">Hero Name</h4>
					</div>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div>
						<p>Average Win rate(all):</p>
						<p>Personal Win rate:</p>
						</div>
					</li>
					<li class="list-group-item">
						<div>
							<p>Average K/D:</p>
							<p>Personal K/D:</p>
						</div>
					</li>
					</ul>
					<div class="card-block">
						<a href="#" class="btn btn-primary">Hero Description</a>
					</div>
				</div>
				<div class="card hero" style="width: 20rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-block">
						<h6 class="card-title">Hero Name</h4>
					</div>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div>
						<p>Average Win rate(all):</p>
						<p>Personal Win rate:</p>
						</div>
					</li>
					<li class="list-group-item">
						<div>
							<p>Average K/D:</p>
							<p>Personal K/D:</p>
						</div>
					</li>
					</ul>
					<div class="card-block">
						<a href="#" class="btn btn-primary">Hero Description</a>
					</div>
				</div>
				<div class="card hero" style="width: 20rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-block">
						<h6 class="card-title">Hero Name</h4>
					</div>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div>
						<p>Average Win rate(all):</p>
						<p>Personal Win rate:</p>
						</div>
					</li>
					<li class="list-group-item">
						<div>
							<p>Average K/D:</p>
							<p>Personal K/D:</p>
						</div>
					</li>
					</ul>
					<div class="card-block">
						<a href="#" class="btn btn-primary">Hero Description</a>
					</div>
				</div>
				<div class="card hero" style="width: 20rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-block">
						<h6 class="card-title">Hero Name</h4>
					</div>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div>
						<p>Average Win rate(all):</p>
						<p>Personal Win rate:</p>
						</div>
					</li>
					<li class="list-group-item">
						<div>
							<p>Average K/D:</p>
							<p>Personal K/D:</p>
						</div>
					</li>
					</ul>
					<div class="card-block">
						<a href="#" class="btn btn-primary">Hero Description</a>
					</div>
				</div>
			</div>

			</div>
			<div class="container">
				<div class="row jusitfy-content-center">
					<div class="matches col-12">
				<div class="title">My Matches</div>
				<div class="card-columns">
					<div class="card">
						<div class="card-header">
							Played Time
						</div>
						<div class="card-block">
							<h2 class="card-title">Win</h2>
						</div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
						      <a class="nav-link active" id="data-tab" data-toggle="tab" href="#match-data" role="tab" aria-controls="match-data" aria-expanded="true">Data</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="player-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-expanded="false">Players</a>
						    </li>
						</ul>
						<div class="tab-content" id="myTabContent">
						    <div role="tabpanel" class="tab-pane fade active show container" id="match-data" aria-labelledby="data-tab" aria-expanded="true">
						      <p id="match-time">match time:</p>
						      <p id="K/D">K/D:</p>
						      <p id="kill">kills of the team:</p>
						    </div>
						    <div class="tab-pane fade container" id="players" role="tabpanel" aria-labelledby="players-tab" aria-expanded="false">
						    	<div class="row">
						    		<div class="col-6 container card">
						    			<a>Player1</a>
						    			<a>Player2</a>
						    			<a>Player3</a>
						    			<a>Player4</a>
						    			<a>Player5</a>
						    		</div>
						    		<div class="col-6 container card">
						    			<a>Player6</a>
						    			<a>Player7</a>
						    			<a>Player8</a>
						    			<a>Player9</a>
						    			<a>Player10</a>
						    		</div>
						    	</div>
						    </div>
						</div>
						<div class="card-block">
							<a href="#" class="btn btn-primary">Match Detail</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							Played Time
						</div>
						<div class="card-block">
							<h2 class="card-title">Win</h2>
						</div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
						      <a class="nav-link active" id="data-tab" data-toggle="tab" href="#match-data" role="tab" aria-controls="match-data" aria-expanded="true">Data</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="player-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-expanded="false">Players</a>
						    </li>
						</ul>
						<div class="tab-content" id="myTabContent">
						    <div role="tabpanel" class="tab-pane fade active show container" id="match-data" aria-labelledby="data-tab" aria-expanded="true">
						      <p id="match-time">match time:</p>
						      <p id="K/D">K/D:</p>
						      <p id="kill">kills of the team:</p>
						    </div>
						    <div class="tab-pane fade container" id="players" role="tabpanel" aria-labelledby="players-tab" aria-expanded="false">
						    	<div class="row">
						    		<div class="col-6 container card">
						    			<a>Player1</a>
						    			<a>Player2</a>
						    			<a>Player3</a>
						    			<a>Player4</a>
						    			<a>Player5</a>
						    		</div>
						    		<div class="col-6 container card">
						    			<a>Player6</a>
						    			<a>Player7</a>
						    			<a>Player8</a>
						    			<a>Player9</a>
						    			<a>Player10</a>
						    		</div>
						    	</div>
						    </div>
						</div>
						<div class="card-block">
							<a href="#" class="btn btn-primary">Match Detail</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							Played Time
						</div>
						<div class="card-block">
							<h2 class="card-title">Loss</h2>
						</div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
						      <a class="nav-link active" id="data-tab" data-toggle="tab" href="#match-data" role="tab" aria-controls="match-data" aria-expanded="true">Data</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="player-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-expanded="false">Players</a>
						    </li>
						</ul>
						<div class="tab-content" id="myTabContent">
						    <div role="tabpanel" class="tab-pane fade active show container" id="match-data" aria-labelledby="data-tab" aria-expanded="true">
						      <p id="match-time">match time:</p>
						      <p id="K/D">K/D:</p>
						      <p id="kill">kills of the team:</p>
						    </div>
						    <div class="tab-pane fade container" id="players" role="tabpanel" aria-labelledby="players-tab" aria-expanded="false">
						    	<div class="row">
						    		<div class="col-6 container card">
						    			<a>Player1</a>
						    			<a>Player2</a>
						    			<a>Player3</a>
						    			<a>Player4</a>
						    			<a>Player5</a>
						    		</div>
						    		<div class="col-6 container card">
						    			<a>Player6</a>
						    			<a>Player7</a>
						    			<a>Player8</a>
						    			<a>Player9</a>
						    			<a>Player10</a>
						    		</div>
						    	</div>
						    </div>
						</div>
						<div class="card-block">
							<a href="#" class="btn btn-primary">Match Detail</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							Played Time
						</div>
						<div class="card-block">
							<h2 class="card-title">Win</h2>
						</div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
						      <a class="nav-link active" id="data-tab" data-toggle="tab" href="#match-data" role="tab" aria-controls="match-data" aria-expanded="true">Data</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="player-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-expanded="false">Players</a>
						    </li>
						</ul>
						<div class="tab-content" id="myTabContent">
						    <div role="tabpanel" class="tab-pane fade active show container" id="match-data" aria-labelledby="data-tab" aria-expanded="true">
						      <p id="match-time">match time:</p>
						      <p id="K/D">K/D:</p>
						      <p id="kill">kills of the team:</p>
						    </div>
						    <div class="tab-pane fade container" id="players" role="tabpanel" aria-labelledby="players-tab" aria-expanded="false">
						    	<div class="row">
						    		<div class="col-6 container card">
						    			<a>Player1</a>
						    			<a>Player2</a>
						    			<a>Player3</a>
						    			<a>Player4</a>
						    			<a>Player5</a>
						    		</div>
						    		<div class="col-6 container card">
						    			<a>Player6</a>
						    			<a>Player7</a>
						    			<a>Player8</a>
						    			<a>Player9</a>
						    			<a>Player10</a>
						    		</div>
						    	</div>
						    </div>
						</div>
						<div class="card-block">
							<a href="#" class="btn btn-primary">Match Detail</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							Played Time
						</div>
						<div class="card-block">
							<h2 class="card-title">Win</h2>
						</div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
						      <a class="nav-link active" id="data-tab" data-toggle="tab" href="#match-data" role="tab" aria-controls="match-data" aria-expanded="true">Data</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="player-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-expanded="false">Players</a>
						    </li>
						</ul>
						<div class="tab-content" id="myTabContent">
						    <div role="tabpanel" class="tab-pane fade active show container" id="match-data" aria-labelledby="data-tab" aria-expanded="true">
						      <p id="match-time">match time:</p>
						      <p id="K/D">K/D:</p>
						      <p id="kill">kills of the team:</p>
						    </div>
						    <div class="tab-pane fade container" id="players" role="tabpanel" aria-labelledby="players-tab" aria-expanded="false">
						    	<div class="row">
						    		<div class="col-6 container card">
						    			<a>Player1</a>
						    			<a>Player2</a>
						    			<a>Player3</a>
						    			<a>Player4</a>
						    			<a>Player5</a>
						    		</div>
						    		<div class="col-6 container card">
						    			<a>Player6</a>
						    			<a>Player7</a>
						    			<a>Player8</a>
						    			<a>Player9</a>
						    			<a>Player10</a>
						    		</div>
						    	</div>
						    </div>
						</div>
						<div class="card-block">
							<a href="#" class="btn btn-primary">Match Detail</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							Played Time
						</div>
						<div class="card-block">
							<h2 class="card-title">Loss</h2>
						</div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
						      <a class="nav-link active" id="data-tab" data-toggle="tab" href="#match-data" role="tab" aria-controls="match-data" aria-expanded="true">Data</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="player-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-expanded="false">Players</a>
						    </li>
						</ul>
						<div class="tab-content" id="myTabContent">
						    <div role="tabpanel" class="tab-pane fade active show container" id="match-data" aria-labelledby="data-tab" aria-expanded="true">
						      <p id="match-time">match time:</p>
						      <p id="K/D">K/D:</p>
						      <p id="kill">kills of the team:</p>
						    </div>
						    <div class="tab-pane fade container" id="players" role="tabpanel" aria-labelledby="players-tab" aria-expanded="false">
						    	<div class="row">
						    		<div class="col-6 container card">
						    			<a>Player1</a>
						    			<a>Player2</a>
						    			<a>Player3</a>
						    			<a>Player4</a>
						    			<a>Player5</a>
						    		</div>
						    		<div class="col-6 container card">
						    			<a>Player6</a>
						    			<a>Player7</a>
						    			<a>Player8</a>
						    			<a>Player9</a>
						    			<a>Player10</a>
						    		</div>
						    	</div>
						    </div>
						</div>
						<div class="card-block">
							<a href="#" class="btn btn-primary">Match Detail</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							Played Time
						</div>
						<div class="card-block">
							<h2 class="card-title">Win</h2>
						</div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
						      <a class="nav-link active" id="data-tab" data-toggle="tab" href="#match-data" role="tab" aria-controls="match-data" aria-expanded="true">Data</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="player-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-expanded="false">Players</a>
						    </li>
						</ul>
						<div class="tab-content" id="myTabContent">
						    <div role="tabpanel" class="tab-pane fade active show container" id="match-data" aria-labelledby="data-tab" aria-expanded="true">
						      <p id="match-time">match time:</p>
						      <p id="K/D">K/D:</p>
						      <p id="kill">kills of the team:</p>
						    </div>
						    <div class="tab-pane fade container" id="players" role="tabpanel" aria-labelledby="players-tab" aria-expanded="false">
						    	<div class="row">
						    		<div class="col-6 container card">
						    			<a>Player1</a>
						    			<a>Player2</a>
						    			<a>Player3</a>
						    			<a>Player4</a>
						    			<a>Player5</a>
						    		</div>
						    		<div class="col-6 container card">
						    			<a>Player6</a>
						    			<a>Player7</a>
						    			<a>Player8</a>
						    			<a>Player9</a>
						    			<a>Player10</a>
						    		</div>
						    	</div>
						    </div>
						</div>
						<div class="card-block">
							<a href="#" class="btn btn-primary">Match Detail</a>
						</div>
					</div>
				</div>
				</div>
				</div>
			</div>
		</div>	
	</body>
</html>